body {
    padding-top: 70px;
    padding-bottom: 100px;
}

.equal-height-thumbnail {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.thumbnail img {
    height:300px;
}

.media img {
    height:64px;
}

.thumbnail p {
    height:80px;
}


// Class
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Usage as a mixin
.element {
  .center-block();
}

.jumbotron {
    height:350px;
    background-color: rgba(238, 238, 238, 0);
}

.jumbotron btn {
    padding-bottom:50px;
}