{% extends 'base.html' %}
{% block content %}

<div class="col-md-6 col-sm-12">
    {% if alert %}
        <div class="alert alert-warning">
            <strong>Warning!</strong> {{alert}}
        </div>
    {% endif %}
    <h3 class="page-header">Try searching it in OMDB</h3>
    {% include 'movie_list/add_movie_search.html' %}
    <div>
        {% if result %}
            <h3>Search results:</h3>
        {% endif %}
        {% for movie in result %}
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="{{movie.icon}}" alt="...">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{movie.title}} <small>{{movie.year}}</small></h4>
                    <a href="{{movie.imdb_url}}">IMDB Page</a>
                </div>
                <div class="media-right">
                    <a class="btn btn-info" href="?title={{movie.title}}&year={{movie.year}}&form=true" role="button">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="col-md-6 col-sm-12">
    <h3 class="page-header">Or fill out the form below</h3>
    {% include 'movie_list/add_movie_form.html' %}
</div>
{% endblock %}