{% extends 'base.html' %}
{% block content %}
    <h1 class="page-header">Movie Collection
        <div class="pull-right">
            <button class="btn btn-info" type="button" data-toggle="collapse"
                    data-target="#filters" aria-expanded="false" aria-controls="filters">
                Filters
            </button>
        </div>
    </h1>
    <div id="filters" class="collapse container-fluid">
        <form class="form-horizontal" action="" method="get">
            <div class="form-group form-group-sm col-md-4">
                <label for="id_title" class="control-label">Title:</label>
                <input id="id_title" class="form-control input-sm" name="title" type="text">
                <div class="row">
                    <div class="col-md-6">
                        <label for="id_year_from" class="control-label">From year:</label>
                        <input id="id_year_from" class="form-control input-sm"
                               name="year_from" min="1900" placeholder="2000" type="number">
                    </div>
                    <div class="col-md-6">
                        <label for="id_year_to" class="control-label">To:</label>
                        <input id="id_year_to" class="form-control input-sm"
                               name="year_to" min="1900" placeholder="2016" type="number">
                    </div>
                </div>
            </div>
            <div class="form-group form-group-sm col-md-4">
                <div class="col-md-12">
                    <label for="id_actors" class="control-label">Actors:</label>
                    <select id="id_actors" class="form-control input-sm" name="actors">
                        <option></option>
                        {% for type in actors %}
                            <option>{{type}}</option>
                        {% endfor %}
                    </select>
                    <label for="id_director" class="control-label">Director:</label>
                    <select id="id_director" class="form-control input-sm" name="director">
                        <option></option>
                        {% for type in directors %}
                            <option>{{type}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group form-group-sm col-md-4">
                <div class="col-md-12">
                    <label for="id_genre" class="control-label">Genre:</label>
                    <select id="id_genre" class="form-control input-sm" name="genre">
                        <option></option>
                        {% for type in genres %}
                            <option>{{type}}</option>
                        {% endfor %}
                    </select>
                    <input class="pull-right btn btn-success btn-sm btn-block"
                           style="margin-top:24px;" type="submit" value="Search" />
                </div>
            </div>
        </form>
    </div>
    <div>
        {% with object_list|length as total %}
            <h4 class="page-header">{{total}} movie{{ total|pluralize }} found.</h4>
        {% endwith %}
    </div>
    {% for movie in object_list|dictsort:"year" %}
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img src="{{movie.icon}}" alt="Something went wrong :C" height="150">
                <div class="caption">
                    <h3>{{movie.title}} <small>{{movie.year}}</small></h3>
                    <p>{{movie.description|truncatewords:15}}</p>
                    <a class="btn btn-info btn-lg btn-block" href="/movie_list/{{movie.pk}}/" role="button">
                        More info..
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
     <div class="navbar-fixed-bottom col-md-offset-11">
        <a
                id="back-to-top"
                href="#"
                class="btn btn-info btn-lg back-to-top"
                role="button"
                data-placement="right">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
    </div>
{% endblock %}
