<div class="jumbotron">
    <div class="container-fluid">
        <div class="col-md-6 col-md-offset-3">
            <div class="text-center">
                <h1> Collect movies </h1>
                <h2> Here you can manage your movie collection </h2>
                <h3></h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a href="/users/login/" class="btn btn-success btn-lg btn-block">Log in</a>
                </div>
                <div class="col-md-6">
                    <a href="/users/register/" class="btn btn-success btn-lg btn-block">Register for free</a>
                </div>
            </div>
        </div>
    </div>
</div>