<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Awesome site</title>
    </head>
    {% include 'navbar.html' %}
    <body>
        <div class="row col-md-10 col-md-offset-1">
            {% if user.is_authenticated %}
                {% block content %}
                {% endblock content %}
            {% else %}
                {% block login %}
                {% endblock login %}
            {% endif %}
            {% load static from staticfiles %}
            <link href="{% static 'movies/libs/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
            <link href="{% static 'movies/libs/css/bootstrap-theme.css' %}" rel="stylesheet" type="text/css">
            <link href="{% static 'movies/site/css/movies.css' %}" rel="stylesheet" type="text/css">
        </div>
    </body>
    {% include 'footer.html' %}
</html>