<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Awesome site</title>
    </head>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <div class="container-fluid">
                <p class="navbar-text">
                    Awesome Site
                </p>
            </div>
        </div>
        <ul class="nav navbar-nav navbar-left">
            <li><a href="/">Main Page</a></li>
            <li><a href="/movie_list/">Movie List</a></li>
            <li><a href="/movie_list/add/">Add Movie</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li>
                <div class="container-fluid">
                    <p class="navbar-text">Hello {{ user.username }}</p>
                </div>
            </li>
            <li><a href="/movie_list/">Your account</a></li>
            <li><a href="/users/logout/">Logout</a></li>
            {% else %}
            <li><a href="/users/login/">Log in</a></li>
            {% endif %}
        </ul>
    </nav>
    <body>
        <div class="row col-md-10 col-md-offset-1">
            {% block content %}
            {% endblock content %}
            {% load static from staticfiles %}
            <link href="{% static 'movies/libs/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
            <link href="{% static 'movies/libs/css/bootstrap-theme.css' %}" rel="stylesheet" type="text/css">
            <link href="{% static 'movies/site/css/movies.css' %}" rel="stylesheet" type="text/css">
        </div>
    </body>
    <footer>
        <div class="col-md-12">
        <hr>
        <!--<nav class="navbar navbar-default navbar-bottom">-->
            <p>Site by: Marcin Muszyński</p>
            <p>Contact information: <a href="mailto:marcinowski007@gmail.com">
            marcinowski007@gmail.com</a>.</p>
        <!--</nav>-->
        </div>
    </footer>
</html>