{% extends 'base.html' %}
{% block content %}
    <h1 class="page-header">Main Page</h1>
    <div class="col-md-4 col-sm-12">
        <div class="jumbotron">
            <div class="container">
                <h3 class="text-center">Search for a movie from your collection!</h3>
                <form action="" method="post">{% csrf_token %}
                    <div class="form-group">
                        <label>Title:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                            <input autofocus id="id_title" class="form-control" name="title" type="text">
                        </div>
                    </div>
                    <input class="btn btn-success btn-lg btn-block" type="submit" value="Search" />
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="jumbotron">
            <div class="container">
                <h3 class="text-center">Check out Your list of movies</h3>
                <div>
                    <p><a class="btn btn-info btn-lg btn-block" href="/movie_list/" role="button">Movie list</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="jumbotron">
            <div class="container">
                <h3 class="text-center">Add a movie to your collection</h3>
                <p><a class="btn btn-info btn-lg btn-block" href="/movie_list/add/" role="button">Add a movie</a></p>
            </div>
        </div>
    </div>
{% endblock content %}